.social_list {
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.social_list li {
    margin: 0 1em;
    list-style: none;
    color: red;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}